#About{
    padding-top: 1%;
    background-color: #6f1a07;
    padding-bottom: 6%;
    color: white;
  
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    position: relative;
    text-align: center;

}