@import url(https://fonts.googleapis.com/css?family=Merriweather);

.cont {
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: 1px solid white;
  margin-top: 10vh;
  border-radius: 10px;
  padding: 2vh 1.5vw;
}
.icon img {
  width: 3rem;
  height: auto;
}
.icon1 img {
  width: 3rem;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contact {
  position: relative;
  min-height: 100hv;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(images/bg.jpg);
  background-position: center;
  background-size: cover;
  /* height: 100vh; */
}

.contact .content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 50px;
  font-weight: 400;
  color: beige;
}
.contact .content p {
  padding-top: 4px;
  font-size: 26px;
  font-weight: 275;
  color: beige;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 25px 0;
  display: flex;
}

.container .contactInfo .box .icon {
  min-width: 4.5rem;
  height: 4.5rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  margin-bottom: 3px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: bisque;
}

.contactForm {
  width: 40%;
  padding: 40px;
  border-radius: 20px;
  background: rgba(73, 46, 13, 0.781);
}
.contactForm h2 {
  font-size: 30px;
  color: white;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border-radius:5px;
  outline: none;
  resize: none;
  background-color: rgba(73, 46, 13, 0.781);
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: white;
  background-color: rgba(73, 46, 13, 0.781);
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: white;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background:bisque;
  color: rgba(0, 0, 0, 0.775);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
  /* Footer css */
  footer {
    background-color: #0d1010;
    color: #ffc107;
    padding: 3% 0 2% 0;
  }

  .footerHeadingCol {
    padding-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .contactRow,
  .addressRow {
    padding-left: 10rem;
    padding-top: 5px;
    margin: auto;
  }

  .addressRow .col-auto {
    padding: 0;
    margin: 0;
  }

  footer a {
    color: snow;
  }

  .copyright {
    text-align: center;
    margin: 30px auto 0 auto;
  }
}
