*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  padding: 0 15px;
  /* overflow: hidden; */
}
.heading{
  text-align: center;
  margin-top: 15px;
}
.home{
  text-decoration: none;
  color: red;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 25px;
  justify-content: space-around;
}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left .credit,
.left .credit a{
  color: #a4a4a4;
  text-decoration: none;
}
.right{
  min-width: 300px;
  margin-bottom: 20px;
}
.socials h2{
  margin: 30px 0 15px;
}
.social{
  background-color: white;
  padding: 10px 30px;
  margin: 0 15px;
  cursor: pointer;
  border: 2px solid #000;
}
.social:hover{
  background-color: #2BAFE6;
}
.social:hover > i{
  color: #fff;
}
.social i{
  font-size: 25px;
}
.txtbox{
  position: relative;
  margin-top: 15px;
  height: 30px;
}
.txtbox i{
  position: absolute;
  left: 6px;
  top: 7px;
  color: #aeaeae;
}
.msgbox{
  margin-top: 15px;
  height: 100px;
}

.txtbox input,
.msgbox textarea{
  height: 100%;
  width: 100%;
  border: 2px solid #aeaeae;
  outline: none;
  resize: none;
}
input#name,
input#email{
  padding-left: 25px;
}

input#subject,
textarea#message{
  padding: 5px 10px;
}
input:focus,
textarea:focus{
  border-color: #2BAFE6;
}
input:focus ~ i{
  color: #2BAFE6;
}
.submitbtn{
  margin-top: 15px;
  text-align: center;
}
.submitbtn .btn{
  background-color: #F2AC30;
  padding: 5px 16px;
  cursor: pointer;
}
.btn:hover{
  box-shadow: inset 0 0 10px #f8a100;
}

/* file upload design */
input[type="file"]{
  display: none;
}
.filebox{
  margin-top: 15px;
}
.filebox label{
  cursor: pointer;
}
.filebox i{
  cursor: pointer;
  rotate: 320deg;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  /* .left img,
  .left .credit{
    display: none;
  } */
  .left .socials{
    min-width: 300px;
  }
  .right{
    margin-top: 20px;
  }
}