body {
  background: rgb(0, 0, 0);
  color: rgb(255, 244, 222);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Heavy", "Arial Narrow", Arial, sans-serif;
  font-size: 32px;
  margin-top: -10px;
  padding: 30px;
  color: burlywood;
  border-bottom: 1px solid rgb(255, 223, 169);
}
.content {
  display: flex;
  flex-direction: row;
  word-wrap: normal;
}
li {
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}
